{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Заметки | {{ app_name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Мои заметки</h1>
</div>

<form class="form" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    {{ wtf.form_field(form.body) }}
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='body') }}

    {{ wtf.form_field(form.submit) }}
</form>

{% include "_posts.html" %}

{% endblock %}